<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


	<!-- 学生信息管理 -->
	<!-- dao -->
	<bean id="studentDao" class="com.srs.dao.StudentDao">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>

	<!-- service -->
	<bean id="studentService" class="com.srs.service.StudentService">
		<property name="studentDao" ref="studentDao"></property>
	</bean>

	<!-- action -->
	<bean id="studentAction" class="com.srs.action.StudentAction"
		scope="prototype">
		<property name="studentService" ref="studentService"></property>
	</bean>

</beans>