.butind {
	font-size: 12px;
	color: #474747;
	width: 94px;
	height: 25px;
	border: none;
	cursor: hand;
}

.butindover {
	font-size: 14px;
	color: #185c9f;
	width: 94px;
	height: 25px;
	border: none;
	cursor: hand;
}

.tabTable{
	background-color: #D7EBFD;
	
}